* {
    font-family: 'Zen Antique Soft', serif;
}

#orar {
    display: grid;
    grid-template-rows: 60px 60px 100px 105px 45px 45px 300px 50px;
    align-items: center;
}

#orar header {
    font-size: 20px;
    height: 58px;
    width: 450px;
    color: #666666;
    background-color: white;
    text-align: center;
    padding-top: 10px;
}

#grup {
    height: 35px;
    width: 102px;
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

#prof {
    height: 35px;
    width: 120px;
    background-color: #25975A;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

#aul {
    height: 35px;
    width: 90px;
    background-color: #25975A;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

.nav {
    display: grid;
    grid-template-columns: 102px 120px 90px;
    gap: 50px;
    text-align: center;
}

#find {
    width: 46px;
    height: 46px;
}

#find-main {
    width: 400px;
    height: 40px;
}

.input {
    display: grid;
    grid-template-columns: 40px 400px;
}

.list {
    height: 100px;
    max-height: 100px;
    width: 430px;
    font-size: 16px;
    background-color: white;
    color: black;
    overflow-y: scroll;
}

.list li {
    list-style: none;
    border-bottom: 1px solid #b5b0b0;
}

.calendar {
    display: grid;
    grid-template-columns: 109px 45px 45px 45px 45px 45px 45px 45px;
    grid-template-rows: repeat(8, 25px);
}

.day {
    width: 107px;
    height: 23px;
    background-color: lightseagreen;
    color: white;
    border: 1px solid white;
    margin: opx;
}

.lesson {
    width: 43px;
    height: 23px;
    background-color: lightseagreen;
    color: white;
    border: 1px solid white;
    margin: opx;
}

.tablelesson {
    width: 43px;
    height: 23px;
    border: 1px solid grey;
}

.calendar p {
    text-align: center;
    padding-top: 3px;
}

.bp {
    background-color: darkgreen;
    color: white;
}

.sd {
    background-color: limegreen;
    color: white;
}

.ag {
    background-color: brown;
    color: white;
}

.en {
    background-color: darkolivegreen;
    color: white;
}

.ppw {
    background-color: #6ceb90;
    color: white;
}

.math {
    background-color: lightpink;
    color: white;
    font-size: 14px;
}

.history {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    align-items: center;
    text-align: center;
    font-size: 14px;
}